## Etapa 2 - Coleta de dados

Nesse notebook realizamos as requisições da API TMDB para bsucar os filmes já produzidos. Ao final, exportamos o dataframe gerado em um arquivo CSV, para serem utilizados nas etapas seguintes do projeto

#### Instalação de bibliotecas

In [135]:
!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in /usr/local/lib/python3.7/dist-packages (1.7.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)

#### Importando Bibliotecas

In [136]:
#Manipulação de dados
import pandas as pd

#biblioteca TMDB
from tmdbv3api import Movie, TMDb

#Requisição da API
import requests

#Tratamento do JSON
import json

In [137]:
tmdb_movie = Movie()
tmdb = TMDb()
tmdb.api_key = "7e53f15707185a92d9178f9f593be733"

In [138]:
df = pd.read_csv("movies_metadata.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [139]:
df.tail(1)

       adult belongs_to_collection budget  ...  video vote_average vote_count
45465  False                   NaN      0  ...  False          0.0        0.0

[1 rows x 24 columns]

In [140]:
df.shape

(45466, 24)

#### Filmes do ano de 2018

In [141]:
url = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"

In [142]:
print(url)

https://en.wikipedia.org/wiki/List_of_American_films_of_2018

In [143]:
df1 = pd.read_html(url, header=0)[2]
df2 = pd.read_html(url, header=0)[3]
df3 = pd.read_html(url, header=0)[4]
df4 = pd.read_html(url, header=0)[5]

In [144]:
df4.tail()

     Opening  ...   Ref.
60  DECEMBER  ...  [163]
61  DECEMBER  ...  [137]
62  DECEMBER  ...  [226]
63  DECEMBER  ...  [258]
64  DECEMBER  ...  [259]

[5 rows x 6 columns]

In [145]:
df_2018 = df1.append(df2.append(df3.append(df4, ignore_index=True), ignore_index=True),ignore_index=True)

In [146]:
df_2018.tail()

      Opening  ...   Ref.
265  DECEMBER  ...  [163]
266  DECEMBER  ...  [137]
267  DECEMBER  ...  [226]
268  DECEMBER  ...  [258]
269  DECEMBER  ...  [259]

[5 rows x 7 columns]

In [147]:
df_2018 = df_2018.filter(["Title", "Openig"], axis = 1)

In [148]:
df_2018.head()

                     Title
0  Insidious: The Last Key
1         The Strange Ones
2                 Stratton
3            Sweet Country
4             The Commuter

In [149]:
df_2018.shape

(270, 1)

In [150]:
def get_id_movie_id(title_movie):
  result = tmdb_movie.search(title_movie)
  movie_id = result[0].id
  return movie_id

In [151]:
df_2018["id"] = df_2018["Title"].map(lambda x: get_id_movie_id(str(x)))

In [152]:
df_2018.head()

                     Title      id
0  Insidious: The Last Key  406563
1         The Strange Ones  426258
2                 Stratton  348389
3            Sweet Country  468210
4             The Commuter  399035

In [153]:
df_2018.rename(columns={"Title":"original_title"}, inplace=True)

In [154]:
df_2018.head()

            original_title      id
0  Insidious: The Last Key  406563
1         The Strange Ones  426258
2                 Stratton  348389
3            Sweet Country  468210
4             The Commuter  399035

#### Filmes de 2019

In [155]:
url_2019 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"

In [156]:
df1_2019 = pd.read_html(url_2019, header=0)[2]
df2_2019 = pd.read_html(url_2019, header=0)[3]
df3_2019 = pd.read_html(url_2019, header=0)[4]
df4_2019 = pd.read_html(url_2019, header=0)[5]

In [157]:
df_2019 = df1_2019.append(df2_2019.append(df3_2019.append(df4_2019, ignore_index=True),ignore_index=True),ignore_index=True)

In [158]:
df_2019.tail()

      Opening  ...   Ref.
237  DECEMBER  ...  [132]
238  DECEMBER  ...  [221]
239  DECEMBER  ...  [222]
240  DECEMBER  ...  [223]
241  DECEMBER  ...  [224]

[5 rows x 6 columns]

In [159]:
df_2019 = df_2019.filter(["Title", "Opening"], axis=1)

In [160]:
df_2019.head()

              Title  Opening
0       Escape Room  JANUARY
1        Rust Creek  JANUARY
2  American Hangman  JANUARY
3  A Dog's Way Home  JANUARY
4        The Upside  JANUARY

In [161]:
df_2019["id"] = df_2019["Title"].map(lambda x: get_id_movie_id(str(x)))

In [162]:
df_2019.head()

              Title  Opening      id
0       Escape Room  JANUARY  522681
1        Rust Creek  JANUARY  561362
2  American Hangman  JANUARY  567738
3  A Dog's Way Home  JANUARY  508763
4        The Upside  JANUARY  440472

In [163]:
df_2019.drop(columns=["Opening"], inplace=True)

In [164]:
df_2019.rename(columns={"Title":"original_title"}, inplace=True)

In [165]:
df_2019

        original_title      id
0          Escape Room  522681
1           Rust Creek  561362
2     American Hangman  567738
3     A Dog's Way Home  508763
4           The Upside  440472
..                 ...     ...
237  Spies in Disguise  431693
238       Little Women  331482
239               1917  530915
240         Just Mercy  522212
241           Clemency  565307

[242 rows x 2 columns]

#### Filmes de 2020

In [166]:
url_2020 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"

In [167]:
df1_2020 = pd.read_html(url_2020, header=0)[2]
df2_2020 = pd.read_html(url_2020, header=0)[3]
df3_2020 = pd.read_html(url_2020, header=0)[4]

In [168]:
df_2020 = df1_2020.append(df2_2020.append(df3_2020,ignore_index=True),ignore_index=True)

In [169]:
df_2020.tail()

     Rank  ...  Ref.
106   NaN  ...  [94]
107   NaN  ...  [95]
108   NaN  ...  [96]
109   NaN  ...  [97]
110   NaN  ...  [98]

[5 rows x 10 columns]

In [170]:
df_2020 = df_2020.filter(["Title", "Opening"], axis=1)

In [171]:
df_2020.tail()

                                               Title Opening
106                                        Athlete A    JUNE
107  Eurovision Song Contest: The Story of Fire Saga    JUNE
108                                     Irresistible    JUNE
109                                           My Spy    JUNE
110                         We Bare Bears: The Movie    JUNE

In [172]:
type(df_2020)

pandas.core.frame.DataFrame

In [173]:
df_2020["id"] = df_2020["Title"].map(lambda x: get_id_movie_id(str(x)))

In [174]:
df_2020.drop(columns=["Opening"], inplace=True)

In [175]:
df_2020.rename(columns={"Title":"original_title"}, inplace=True)

In [176]:
df_2020

                                      original_title      id
0                                  Bad Boys for Life   38700
1                                 Sonic the Hedgehog  454626
2                                      Birds of Prey  495764
3                                           Dolittle  448119
4                                  The Invisible Man  570670
..                                               ...     ...
106                                        Athlete A  684700
107  Eurovision Song Contest: The Story of Fire Saga  531454
108                                     Irresistible  595148
109                                           My Spy  592834
110                         We Bare Bears: The Movie  677638

[111 rows x 2 columns]

#### Filmes 2021

In [177]:
url_2021 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"

In [178]:
df1_2021 = pd.read_html(url_2021, header=0)[2]
df2_2021 = pd.read_html(url_2021, header=0)[3]
df3_2021 = pd.read_html(url_2021, header=0)[4]
df4_2021 = pd.read_html(url_2021, header=0)[5]

In [179]:
df_2021 = df1_2021.append(df2_2021.append(df3_2021.append(df4_2021, ignore_index=True),ignore_index=True),ignore_index=True)

In [180]:
df_2021.head()

   Rank  ... Ref.
0   1.0  ...  NaN
1   2.0  ...  NaN
2   3.0  ...  NaN
3   4.0  ...  NaN
4   5.0  ...  NaN

[5 rows x 10 columns]

In [181]:
df_2021 = df_2021.filter(["Title", "Opening"], axis=1)

In [182]:
df_2021["id"] = df_2021["Title"].map(lambda x: get_id_movie_id(str(x)))

In [183]:
df_2021.head()

                                        Title Opening      id
0  Shang-Chi and the Legend of the Ten Rings*     NaN  566525
1                Venom: Let There Be Carnage*     NaN  580489
2                                 Black Widow     NaN  497698
3                                          F9     NaN  385128
4                       A Quiet Place Part II     NaN  520763

In [184]:
df_2021.drop(columns=["Opening"], inplace=True)

In [185]:
df_2021.rename(columns={"Title":"original_title"}, inplace=True)

In [186]:
df_2021.head()

                               original_title      id
0  Shang-Chi and the Legend of the Ten Rings*  566525
1                Venom: Let There Be Carnage*  580489
2                                 Black Widow  497698
3                                          F9  385128
4                       A Quiet Place Part II  520763

### Concatenando

In [187]:
listas_dfs = [df_2018, df_2019, df_2020, df_2021]

In [188]:
dfs_concat = pd.concat(listas_dfs)

In [189]:
dfs_concat.shape

(893, 2)

### Conjunto de dados Keagle

In [190]:
df_movies = pd.read_csv("/content/tmdb_5000_movies.csv")

In [191]:
df_movies.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

## Genero

In [192]:
dfs_concat.head()

            original_title      id
0  Insidious: The Last Key  406563
1         The Strange Ones  426258
2                 Stratton  348389
3            Sweet Country  468210
4             The Commuter  399035

In [193]:
def get_genres(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["genres"]

In [194]:
dfs_concat["genres"] = dfs_concat["id"].map(lambda x: get_genres(str(x)))

In [195]:
dfs_concat.head()

            original_title  ...                                             genres
0  Insidious: The Last Key  ...  [{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...
1         The Strange Ones  ...  [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
2                 Stratton  ...  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
3            Sweet Country  ...  [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...
4             The Commuter  ...  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...

[5 rows x 3 columns]

## Budge

In [196]:
def get_budget(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["budget"]

In [197]:
dfs_concat["budget"] = dfs_concat["id"].map(lambda x: get_budget(str(x)))

In [198]:
dfs_concat.head()

            original_title  ...    budget
0  Insidious: The Last Key  ...  10000000
1         The Strange Ones  ...         0
2                 Stratton  ...         0
3            Sweet Country  ...         0
4             The Commuter  ...  30000000

[5 rows x 4 columns]

## Homepage

In [199]:
def get_homepage(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["homepage"]

In [200]:
dfs_concat ["homepage"] = dfs_concat ["id"].map(lambda x: get_homepage(str(x)))

In [201]:
dfs_concat.head()

            original_title  ...                                        homepage
0  Insidious: The Last Key  ...                   http://www.insidiousmovie.com
1         The Strange Ones  ...                      http://thestrangeones.com/
2                 Stratton  ...              http://www.gfmfilms.co.uk/stratton
3            Sweet Country  ...  https://bunyaproductions.com.au/sweet-country/
4             The Commuter  ...                      https://thecommuter.movie/

[5 rows x 5 columns]

## Keywords

In [202]:
def get_keywords(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}/keywords?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["keywords"]

In [203]:
dfs_concat["keywords"] = dfs_concat["id"].map(lambda x: get_keywords(str(x)))

In [204]:
dfs_concat.head()

            original_title  ...                                           keywords
0  Insidious: The Last Key  ...  [{'id': 2723, 'name': 'medium'}, {'id': 2849, ...
1         The Strange Ones  ...  [{'id': 380, 'name': 'sibling relationship'}, ...
2                 Stratton  ...  [{'id': 818, 'name': 'based on novel or book'}...
3            Sweet Country  ...  [{'id': 570, 'name': 'rape'}, {'id': 2831, 'na...
4             The Commuter  ...  [{'id': 10410, 'name': 'conspiracy'}, {'id': 1...

[5 rows x 6 columns]

### Linguagem Original

In [205]:
def get_original_language(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["original_language"]

In [206]:
dfs_concat ["original_language"] = dfs_concat ["id"].map(lambda x:get_original_language(str(x)))

In [207]:
dfs_concat.head()

            original_title  ...  original_language
0  Insidious: The Last Key  ...                 en
1         The Strange Ones  ...                 en
2                 Stratton  ...                 en
3            Sweet Country  ...                 en
4             The Commuter  ...                 en

[5 rows x 7 columns]

### Overview

In [208]:
dfs_concat.head()

            original_title  ...  original_language
0  Insidious: The Last Key  ...                 en
1         The Strange Ones  ...                 en
2                 Stratton  ...                 en
3            Sweet Country  ...                 en
4             The Commuter  ...                 en

[5 rows x 7 columns]

In [209]:
def get_overview(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json ["overview"]

In [210]:
dfs_concat ["overview"] = dfs_concat["id"].map(lambda x: get_overview(str(x)))

In [211]:
dfs_concat.head()

            original_title  ...                                           overview
0  Insidious: The Last Key  ...  Parapsychologist Elise Rainier and her team tr...
1         The Strange Ones  ...  Mysterious events surround the travels of two ...
2                 Stratton  ...  A British Special Boat Service commando tracks...
3            Sweet Country  ...  It’s 1929 on the vast, desert-like, Eastern Ar...
4             The Commuter  ...  A businessman, on his daily commute home, gets...

[5 rows x 8 columns]

### Popularity

In [212]:
def get_popularity(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json ["popularity"]

In [213]:
dfs_concat ["popularity"] = dfs_concat["id"].map(lambda x: get_popularity(str(x)))

In [214]:
dfs_concat.head()

            original_title  ...  popularity
0  Insidious: The Last Key  ...      42.487
1         The Strange Ones  ...       7.550
2                 Stratton  ...      14.603
3            Sweet Country  ...       5.709
4             The Commuter  ...      28.361

[5 rows x 9 columns]

### production_companies

In [215]:
def get_production_companies(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json ["production_companies"]

In [216]:
dfs_concat ["production_companies"] = dfs_concat["id"].map(lambda x: get_production_companies(str(x)))

In [217]:
dfs_concat.head()

            original_title  ...                               production_companies
0  Insidious: The Last Key  ...  [{'id': 11341, 'logo_path': '/xytTBODEy3p20ksH...
1         The Strange Ones  ...  [{'id': 35562, 'logo_path': '/cpeGUCuKo2vgaxzr...
2                 Stratton  ...  [{'id': 23970, 'logo_path': None, 'name': 'Twi...
3            Sweet Country  ...  [{'id': 86737, 'logo_path': None, 'name': 'Bun...
4             The Commuter  ...  [{'id': 694, 'logo_path': '/5LEHONGkZBIoWvp1yg...

[5 rows x 10 columns]

### production_countries

In [218]:
def get_production_countries(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json ["production_countries"]

In [219]:
dfs_concat ["production_countries"] = dfs_concat["id"].map(lambda x: get_production_countries(str(x)))

In [220]:
dfs_concat.head()

            original_title  ...                               production_countries
0  Insidious: The Last Key  ...  [{'iso_3166_1': 'US', 'name': 'United States o...
1         The Strange Ones  ...  [{'iso_3166_1': 'US', 'name': 'United States o...
2                 Stratton  ...   [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]
3            Sweet Country  ...        [{'iso_3166_1': 'AU', 'name': 'Australia'}]
4             The Commuter  ...  [{'iso_3166_1': 'US', 'name': 'United States o...

[5 rows x 11 columns]

### release_date

In [221]:
def get_release_date(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json ["release_date"]

In [222]:
dfs_concat ["release_date"] = dfs_concat ["id"].map(lambda x: get_release_date(str(x)))

In [223]:
dfs_concat.head()

            original_title  ...  release_date
0  Insidious: The Last Key  ...    2018-01-03
1         The Strange Ones  ...    2018-01-05
2                 Stratton  ...    2017-07-06
3            Sweet Country  ...    2018-01-25
4             The Commuter  ...    2018-01-11

[5 rows x 12 columns]

### revenue

In [224]:
def get_revenue(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json ["revenue"]

In [225]:
dfs_concat ["revenue"] = dfs_concat ["id"].map(lambda x: get_revenue(str(x)))

In [226]:
dfs_concat.head()

            original_title      id  ... release_date    revenue
0  Insidious: The Last Key  406563  ...   2018-01-03  167184112
1         The Strange Ones  426258  ...   2018-01-05          0
2                 Stratton  348389  ...   2017-07-06          0
3            Sweet Country  468210  ...   2018-01-25          0
4             The Commuter  399035  ...   2018-01-11  119942387

[5 rows x 13 columns]

### runtime

In [227]:
def get_runtime(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json ["runtime"]

In [228]:
dfs_concat["runtime"] = dfs_concat["id"].map(lambda x: get_runtime(str(x)))

In [229]:
dfs_concat.head()

            original_title      id  ...    revenue  runtime
0  Insidious: The Last Key  406563  ...  167184112      103
1         The Strange Ones  426258  ...          0       81
2                 Stratton  348389  ...          0       94
3            Sweet Country  468210  ...          0      113
4             The Commuter  399035  ...  119942387      104

[5 rows x 14 columns]

### spoken_languages

In [230]:
def get_spoken_languages(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json() 
  return data_json["spoken_languages"]

In [231]:
dfs_concat ["spoken_languages"] = dfs_concat ["id"].map(lambda x: get_spoken_languages(str(x)))

In [232]:
dfs_concat.head()

            original_title  ...                                   spoken_languages
0  Insidious: The Last Key  ...  [{'english_name': 'English', 'iso_639_1': 'en'...
1         The Strange Ones  ...  [{'english_name': 'English', 'iso_639_1': 'en'...
2                 Stratton  ...  [{'english_name': 'English', 'iso_639_1': 'en'...
3            Sweet Country  ...  [{'english_name': 'English', 'iso_639_1': 'en'...
4             The Commuter  ...  [{'english_name': 'English', 'iso_639_1': 'en'...

[5 rows x 15 columns]

### status

In [233]:
def get_status(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["status"]

In [234]:
dfs_concat ["status"] = dfs_concat["id"].map(lambda x: get_status(str(x)))

In [235]:
dfs_concat.head()

            original_title  ...    status
0  Insidious: The Last Key  ...  Released
1         The Strange Ones  ...  Released
2                 Stratton  ...  Released
3            Sweet Country  ...  Released
4             The Commuter  ...  Released

[5 rows x 16 columns]

### tagline

In [236]:
def get_tagline(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["tagline"]

In [237]:
dfs_concat ["tagline"] = dfs_concat["id"].map(lambda x: get_tagline(str(x)))

In [238]:
dfs_concat.head()

            original_title      id  ...    status                            tagline
0  Insidious: The Last Key  406563  ...  Released                   Fear comes home.
1         The Strange Ones  426258  ...  Released
2                 Stratton  348389  ...  Released  The enemy has a weapon. So do we.
3            Sweet Country  468210  ...  Released     Justice itself is put on trial
4             The Commuter  399035  ...  Released              Lives are on the line

[5 rows x 17 columns]

### title

In [239]:
def get_title(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["title"]

In [240]:
dfs_concat ["taitle"] = dfs_concat["id"].map(lambda x: get_tagline(str(x)))

In [241]:
dfs_concat.head()

            original_title  ...                             taitle
0  Insidious: The Last Key  ...                   Fear comes home.
1         The Strange Ones  ...
2                 Stratton  ...  The enemy has a weapon. So do we.
3            Sweet Country  ...     Justice itself is put on trial
4             The Commuter  ...              Lives are on the line

[5 rows x 18 columns]

### vote_average

In [242]:
def get_vote_averege(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["vote_average"]

In [243]:
dfs_concat ["vote_average"] = dfs_concat["id"].map(lambda x: get_vote_averege(str(x)))

In [244]:
dfs_concat.head()

            original_title  ...  vote_average
0  Insidious: The Last Key  ...           6.2
1         The Strange Ones  ...           5.5
2                 Stratton  ...           4.9
3            Sweet Country  ...           6.6
4             The Commuter  ...           6.3

[5 rows x 19 columns]

### vote_count

In [245]:
def get_vote_count(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["vote_count"]

In [246]:
dfs_concat ["vote_count"] = dfs_concat["id"].map(lambda x: get_vote_count(str(x)))

In [247]:
dfs_concat.head()

            original_title      id  ... vote_average  vote_count
0  Insidious: The Last Key  406563  ...          6.2        2124
1         The Strange Ones  426258  ...          5.5          60
2                 Stratton  348389  ...          4.9         168
3            Sweet Country  468210  ...          6.6         128
4             The Commuter  399035  ...          6.3        3552

[5 rows x 20 columns]

### Comparando dataframes

In [248]:
df_movies.shape

(4803, 20)

In [249]:
dfs_concat.shape

(893, 20)

### Inserção crédito

In [250]:
df_movies_credits = pd.read_csv("/content/credits.csv")

In [251]:
df_movies_credits.head()

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

In [252]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [253]:
df_movies_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [254]:
df_movies = df_movies.merge(df_movies_credits, on="id")

In [255]:
df_movies.head()

      budget  ...                                               crew
0  237000000  ...  [{'credit_id': '52fe48009251416c750aca23', 'de...
1  300000000  ...  [{'credit_id': '52fe4232c3a36847f800b579', 'de...
2  245000000  ...  [{'credit_id': '5751eed59251416b60000637', 'de...
3  250000000  ...  [{'credit_id': '52fe4781c3a36847f81398c3', 'de...
4  260000000  ...  [{'credit_id': '52fe479ac3a36847f813eaa3', 'de...

[5 rows x 22 columns]

### Inserindo futures csv Credits no Dataframe (2018, 2019, 2020 e 2021)

### Cast

In [256]:
def get_cast(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}/credits?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["cast"]

In [257]:
dfs_concat["cast"] = dfs_concat["id"].map(lambda x: get_cast(str(x)))

In [258]:
dfs_concat.head()

            original_title  ...                                               cast
0  Insidious: The Last Key  ...  [{'adult': False, 'gender': 1, 'id': 7401, 'kn...
1         The Strange Ones  ...  [{'adult': False, 'gender': 2, 'id': 61363, 'k...
2                 Stratton  ...  [{'adult': False, 'gender': 2, 'id': 55470, 'k...
3            Sweet Country  ...  [{'adult': False, 'gender': 2, 'id': 1887857, ...
4             The Commuter  ...  [{'adult': False, 'gender': 2, 'id': 3896, 'kn...

[5 rows x 21 columns]

### Crew

In [259]:
def get_cre(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}/credits?api_key={}".format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["crew"]

In [260]:
dfs_concat["crew"] = dfs_concat["id"].map(lambda x: get_cast(str(x)))

In [261]:
dfs_concat.head()

            original_title  ...                                               crew
0  Insidious: The Last Key  ...  [{'adult': False, 'gender': 1, 'id': 7401, 'kn...
1         The Strange Ones  ...  [{'adult': False, 'gender': 2, 'id': 61363, 'k...
2                 Stratton  ...  [{'adult': False, 'gender': 2, 'id': 55470, 'k...
3            Sweet Country  ...  [{'adult': False, 'gender': 2, 'id': 1887857, ...
4             The Commuter  ...  [{'adult': False, 'gender': 2, 'id': 3896, 'kn...

[5 rows x 22 columns]

### Concatenação final

In [262]:
df_movies.head()

      budget  ...                                               crew
0  237000000  ...  [{'credit_id': '52fe48009251416c750aca23', 'de...
1  300000000  ...  [{'credit_id': '52fe4232c3a36847f800b579', 'de...
2  245000000  ...  [{'credit_id': '5751eed59251416b60000637', 'de...
3  250000000  ...  [{'credit_id': '52fe4781c3a36847f81398c3', 'de...
4  260000000  ...  [{'credit_id': '52fe479ac3a36847f813eaa3', 'de...

[5 rows x 22 columns]

In [263]:
dataframes = [df_movies, dfs_concat]

In [264]:
df_final = pd.concat(dataframes)

In [265]:
df_final.tail()

       budget  ...                                             taitle
265  28000000  ...  An honest and original story for the outsider ...
266         0  ...                                        Ride or Fly
267         0  ...                                  Listen carefully.
268         0  ...                               Betrayal is a dance.
269  14000000  ...

[5 rows x 23 columns]

In [266]:
df_final.shape

(5492, 23)

## Salvar em um CSV

In [267]:
df_final.to_csv(r'/content/df_final.csv', index=False, header=True)